In [1]:
print("hello world")

hello world

In [2]:
len("hello")

5

In [3]:
# function
#inbuilt >> print, len , type
#user defined

In [4]:
# functions >> it is blcok of code that performs some specific computations
# it keeps your code neat and clean , organise , reusable

In [5]:
int(2.2)

2

In [6]:
float(2)

2.0

In [12]:
import math as m
m.ceil(6.4)

7

In [14]:
m.floor(3.6)

3

In [16]:
#syntax of function
#def fun():
    #do something 
    #do someting
    #retrun

In [19]:
print("welcome to class Rahul")
print("welcome to class Shweta")
print("welcome to class Amruta")

welcome to class Rahul
welcome to class Shweta
welcome to class Amruta

In [21]:
def greet(n):
    print("welcome to class",n)
greet("Ajay")
greet("bijay")

welcome to class Ajay
welcome to class bijay

In [24]:
def func():
    print("this is my first function")
func()

this is my first function

In [25]:
type(func())

this is my first function

NoneType

In [27]:
def func():
    return "this is my first function"
func() + " in python"

'this is my first function in python'

In [28]:
def func():
    return "this is first function",2,4,3+7j,True
func()

('this is first function', 2, 4, (3+7j), True)

In [29]:
a = func()

In [30]:
type(a)

tuple

In [31]:
a[0]

'this is first function'

In [32]:
 a,b,c,d,e = func()

In [33]:
a

'this is first function'

In [34]:
b

2

In [35]:
c

4

In [36]:
func()[2]

4

In [37]:
def func():
    calc = 2 + 3 + 6 * 5
    return calc

In [38]:
func()

35

In [39]:
type(func())

int

In [42]:
def square_no(a): # a is called as arguement 
    return a*a
square_no(3)

9

In [43]:
def sum_(a,b):
    return a+b
sum_(3,5)

8

In [44]:
sum_("pw","Skills")

'pwSkills'

In [45]:
sum_([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [46]:
sum_(b="pw",a="skills")

'skillspw'

In [47]:
def sum_(a,b,c):
    return a+b+c
sum_(1,2,3)

6

In [48]:
#defalut arguement
def sum_(a=0,b=0,c=0):
    return a+b+c
sum_(2,3)

5

In [49]:
def add_two_nos():
    a = int(input("enter the first no "))
    b = int(input("enter the second no "))
    return a + b
add_two_nos()

enter the first no12
enter the second no12

24

In [50]:
#write a function that take list as input and return me all numeric values.

In [51]:
def only_numeric(a):
    n = [];
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [55]:
only_numeric([1,2,3,4.5,6,"Ajay","pwskills",True])

[1, 2, 3, 4, 5, 6]

In [60]:
def only_numeric(a):
    n = [];
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [62]:
only_numeric([1,2,3,4.5,6,"Ajay","pwskills",True,[1,2,3,4]])

[1, 2, 3, 4.5, 6, 1, 2, 3, 4]

In [63]:
def sum_(a,b):
    return a + b
sum_(2,3)

5

In [67]:
#variable length arguement
def sum_(*args):
    s = 0
    for i in args:
        s = s + i
    return s
sum_(1,2,3,4,5,6,7)

28

In [69]:
def test_1(*args):
    return args
test_1(2,3,4,5,6,7,8,9,"Ajay",[1,2,3],(1,2,3),True)

(2, 3, 4, 5, 6, 7, 8, 9, 'Ajay', [1, 2, 3], (1, 2, 3), True)

In [72]:
def test_1(*args,a):
    return args,a
test_1(2,3,4,5,6,7,8,9,"Ajay",[1,2,3],(1,2,3),True,a="ram")

((2, 3, 4, 5, 6, 7, 8, 9, 'Ajay', [1, 2, 3], (1, 2, 3), True), 'ram')

In [74]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [76]:
return_list(2,3,4,5,6,7,8,9,"Ajay",[1,2,3],[4,5,6,8],(1,2,3),True)

[[1, 2, 3], [4, 5, 6, 8]]

In [78]:
def team(name,project):
    return f"{name} is working on {project}."
team(name = "Ajay",project="IR")

'Ajay is working on IR.'

In [79]:
# it should accept any no of argument
#treated as key value pair
# dictionary

In [84]:
def kwarg_func(**kwargs):
    return kwargs
kwarg_func(a=2,b=3,c=[1,2,3],d=(12,3,5))
type(kwarg_func())

dict

In [85]:
# write a function which takes  variable key word argument and return only the values which is a list

In [86]:
def test(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i,kwargs[i]
test(a=2,b=3,c=6,d=[1,2,3,4],e=(1,2,3))

('d', [1, 2, 3, 4])

In [92]:
# python namespace 
def greet():
    message = "hello,welcome"
    print(message)
greet()

SyntaxError: invalid syntax (2065794753.py, line 3)

In [90]:
print(message)

NameError: name 'message' is not defined