In [1]:
name = input("enter your name :")

enter your name :sachin

'sachin'

In [2]:
print(name)

sachin

In [3]:
type(name)

str

In [4]:
len(name)

6

In [6]:
#variables

#datatypes
    #numeric data types 
    a = 1 # integers
    b = 3.4 # float 
    c = 2+3j # complex
    
#Boolean 
isworking = True # False

#array datatypes

name = "sachin charaniya" #string data types 

name_of_fruits = ["Apple","banana","grapes"] #list
name_of_country=("India","US","UK") #tuples

IndentationError: unexpected indent (2353824047.py, line 5)

In [19]:
name_of_fruits = ["Apple","banana","grapes"]
name_of_country=("India","US","UK")

In [28]:
name_of_fruits.extend(name_of_country)

In [29]:
name_of_fruits.insert(1,'paches')

In [30]:
name_of_fruits

['Apple', 'paches', 'paches', 'name', 'banana', 'grapes', 'India', 'US', 'UK']

In [34]:
name_of_fruits.index("India")

6

In [35]:
name_of_fruits

['Apple', 'paches', 'paches', 'name', 'banana', 'grapes', 'India', 'US', 'UK']

In [36]:
name_of_fruits.pop()

'UK'

In [37]:
name_of_fruits

['Apple', 'paches', 'paches', 'name', 'banana', 'grapes', 'India', 'US']

In [39]:
name_of_fruits.remove('Apple')

In [40]:
name_of_fruits

['paches', 'paches', 'name', 'banana', 'grapes', 'India', 'US']

In [41]:
name_of_fruits.reverse()

In [42]:
name_of_fruits

['US', 'India', 'grapes', 'banana', 'name', 'paches', 'paches']

In [43]:
#dictionary
invertory = {
    "apple":{"gressn apple":10,"golden":40},
    "grapes":200,
    "peaches":50
}

In [44]:
invertory

{'apple': {'gressn apple': 10, 'golden': 40}, 'grapes': 200, 'peaches': 50}

In [45]:
invertory.keys()

dict_keys(['apple', 'grapes', 'peaches'])

In [51]:
invertory

{'apple': {'gressn apple': 10, 'golden': 40}, 'grapes': 200, 'peaches': 50}

In [52]:
len(invertory.keys())

3

In [55]:
com = invertory.copy()

In [56]:
com

{'apple': {'gressn apple': 10, 'golden': 40}, 'grapes': 200, 'peaches': 50}

In [57]:
# operator

In [58]:
#create a coversion of celsius to farheriheit

In [62]:
tem = input("enter the temp: ")
tem = float(tem)
far = (9 / 5 * tem) + 32
far

enter the temp: 23

73.4

In [63]:
# control flow statement 
# conditional statement 
# looping statement 
# try expect

In [68]:
tem = input("enter the temp: ")
tem = float(tem)
far = (9 / 5 * tem) + 32
far 
if far > 100:
    print("user have a fever")
elif far < 95 :
    print("user have a low temparature")
else:
    print("user don't have fever")

enter the temp: 23
user have a low temparature

In [69]:
# create calculator

In [72]:
num1 = int(input("enter number :"))
num2 = int(input("enter number :"))

sum = num1 + num2 
sub = num1 - num2 
mul = num1 * num2 
div = num1 / num2 

print(sum)
print(sub)
print(mul)
print(div)

enter number :20
enter number :10
30
10
200
2.0

In [73]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
ope = input("enter the operation")
if ope == "+":
    print(num1+num2)
elif ope == "-":
    print(num1-num2)
elif ope == "*":
    print(num1 * num2)
elif ope =="/":
    print(num1 / num2)

enter the first number10
enter the second number20
enter the operation*
200

In [75]:
for i in name_of_fruits:
    print(i.upper())

US
INDIA
GRAPES
BANANA
NAME
PACHES
PACHES

In [80]:
for i in range(10):
    if i % 2 == 0:
        print(f"{i} even number")
    else:
        print(f"{i} odd number")

0 even number
1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number

In [81]:
#create a method to find the sq of all number and save it in a new list

In [86]:
list_new=[]
for i in range(10):
    list_new.append(i*i)
list_new

AttributeError: 'tuple' object has no attribute 'append'