In [17]:
var = ["sachin","charaniya"]

var

In [18]:
var

['sachin', 'charaniya']

In [19]:
var[0] # sachin
var[0][1] # a
var[-1] # charaniya
var[::] # sachin charaniya

['sachin', 'charaniya']

In [54]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print("----------------------")
print("length of list : ",len(thislist))
print("----------------------")
print("type of  : ",type(thislist))
print("----------------------")
print("Negative index start of last :",thislist[-1])
print("----------------------")
print("start index of 2 and end index to 4 : ",thislist[2:4])
print("----------------------")
print("start index of 0 and end index to 4 : ",thislist[:4])
print("----------------------")
print("start index of 2 and end with last :",thislist[2:])
print("----------------------")
print("start index of -4 and end with -1 :",thislist[-4:-1])
print("----------------------")
print("start index of 0 end with 5  with 2 step  :",thislist[0:5:2])

['apple', 'banana', 'cherry', 'apple', 'cherry']
----------------------
length of list :  5
----------------------
type of  :  <class 'list'>
----------------------
Negative index start of last : cherry
----------------------
start index of 2 and end index to 4 :  ['cherry', 'apple']
----------------------
start index of 0 and end index to 4 :  ['apple', 'banana', 'cherry', 'apple']
----------------------
start index of 2 and end with last : ['cherry', 'apple', 'cherry']
----------------------
start index of -4 and end with -1 : ['banana', 'cherry', 'apple']
----------------------
start index of 0 end with 5  with 2 step  : ['apple', 'cherry', 'cherry']

In [55]:
if "apple" in thislist:
    print("yes, 'Apple' is in list")

yes, 'Apple' is in list

In [56]:
thislist

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [58]:
thislist[1] = "blackcurrant"
thislist

['apple', 'blackcurrant', 'cherry', 'apple', 'cherry']

In [68]:
thislist

['apple', 'backcurrant', 'apple', 'cherry']

In [69]:
thislist.insert(2,'banana')

In [70]:
thislist

['apple', 'backcurrant', 'banana', 'apple', 'cherry']

In [71]:
thislist.append("orange")

In [72]:
thislist

['apple', 'backcurrant', 'banana', 'apple', 'cherry', 'orange']

In [76]:
thislist.append("orange")
thislist

['apple',
 'backcurrant',
 'banana',
 'apple',
 'cherry',
 'orange',
 'orange',
 'orange',
 'orange']

In [77]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

In [78]:
thislist.extend(tropical)

In [79]:
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [81]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
thislist

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [82]:
thislist = ['apple','banana','cherry']
thislist.remove('banana')

In [83]:
thislist

['apple', 'cherry']

In [84]:
thislist.pop()

'cherry'

In [85]:
thislist.pop(0)

'apple'

In [86]:
thislist

[]

In [87]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]

In [89]:
thislist

['banana', 'cherry']

In [90]:
del thislist

In [93]:
thislist

NameError: name 'thislist' is not defined

In [94]:
thislist = ["apple", "banana", "cherry"]

In [95]:
thislist

['apple', 'banana', 'cherry']

In [96]:
thislist.clear()

In [97]:
thislist

[]

In [100]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [107]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [110]:
thislist = ["apple", "banana", "cherry"] 
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [114]:
#thislist = ["apple", "banana", "cherry"]
#[print(x) for x in thislist]

In [116]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
    if 'apple' in x :
        newlist.append(x)
print(newlist)

['apple']

In [118]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
    if 'a' in x :
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [120]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x ]
print(newlist)

['apple', 'banana', 'mango']

In [122]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x for x in fruits if "a" in x]
newlist

['apple', 'banana', 'mango']

In [123]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
newlist

['apple', 'banana', 'mango']

In [124]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [127]:
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [128]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [133]:
newlist = [x for x in range(10) if x%2==0]
newlist

[0, 2, 4, 6, 8]

In [134]:
newlist = [x.upper() for x in fruits]

In [135]:
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [136]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [138]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [140]:
def myfunc(n):
    return abs(n - 50)
thislist = [100,5,65,82,23]
thislist.sort(key = myfunc)
print(thislist)

[65, 23, 82, 5, 100]

In [142]:
thislist = ["apple", "banana", "cherry"] 
mylist = thislist.copy()
thislist

['apple', 'banana', 'cherry']

In [143]:
list1 = [1,2,3]
list2 = ["a","b","c"]
list3 = list1 + list2
list3

[1, 2, 3, 'a', 'b', 'c']

In [144]:
list1 = [1,2,3]
list2 = ["a","b","c"]
for x in list2:
    list1.append(x)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [145]:
list1 = [1,2,3]
list2 = ["a","b","c"]
list1.extend(list2)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [146]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [147]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [148]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [149]:
a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

# Tupels

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
print(len(thistuple))

5

In [7]:
thistuple = ("apple")

In [10]:
type(thistuple)

str

In [11]:
tuple1 = ("abc", 34, True, 40, "male")

In [12]:
tuple1

('abc', 34, True, 40, 'male')

In [13]:
thistuple[1]

'p'

In [14]:
thistuple

'apple'

In [15]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [16]:
thistuple[1]

'banana'

In [17]:
thistuple[-1]

'cherry'

In [18]:
thistuple[:5]

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [19]:
thistuple[1:]

('banana', 'cherry', 'apple', 'cherry')

In [22]:
thistuple[0:5:2]

('apple', 'cherry', 'cherry')

In [23]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [27]:
t = list(thistuple)
t[1]="kiwi"
thislist = type(t)
print(t)

['apple', 'kiwi', 'cherry', 'apple', 'cherry']

In [25]:
t

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [28]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [31]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [32]:
for i in thistuple:
    print(i)

banana
cherry

In [33]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [1]:
thistuple = ("apple", "banana", "cherry")
i = 0 
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [7]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(4)
print(x)

6

# sets

In [16]:
thisset = {"apple", "banana", "cherry"}

In [10]:
type(thisset)

set

In [11]:
for x in thisset:
    print(x)

apple
banana
cherry

In [12]:
print("banana" in thisset)

True

In [17]:
thisset.add("orange")

In [18]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'banana', 'mango', 'pineapple', 'apple', 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'banana', 'cherry', 'orange', 'apple'}

In [21]:
thisset.remove("banana")

In [22]:
thisset

{'apple', 'cherry', 'kiwi', 'orange'}

In [23]:
thisset.discard("banana")

In [24]:
thisset

{'apple', 'cherry', 'kiwi', 'orange'}

In [25]:
thisset = {"apple", "banana", "cherry"}

In [27]:
x = thisset.pop()
print(x)

banana

In [28]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
thisset

set()

In [29]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [30]:
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

In [32]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [33]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2,set3,set4)
print(myset)

{1, 2, 3, 'c', 'a', 'cherry', 'John', 'bananas', 'b', 'apple', 'Elena'}

In [34]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'c', 'a', 'cherry', 'John', 'bananas', 'b', 'apple', 'Elena'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
set3

{'apple'}

In [36]:
set3 = set1 & set2
set3

{'apple'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)

In [38]:
set1

{'apple'}

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2 
set3

{'banana', 'cherry'}

In [40]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

In [41]:
fruits.discard("banana")

In [42]:
fruits

{'apple', 'cherry', 'orange'}

# Dictionary

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [44]:
print(len(thisdict))

3